body{
  background-color: #daad86;
}

h1{
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 3.5vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.7);
}

h2{
  margin-left: 5vh;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
}

#userInput{
  margin-left: 5vh;
  padding: 5px;
  border-radius: 40px;
}


#addItem{
  color: #fff !important;
  margin-left: 2vh;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 30px;
  border-color: solid black 0.5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

#addItem:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.deleteButton{
  margin-left: 3vh;
  color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 5px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.deleteButton:hover{
  background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

li{
  list-style: none;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.5vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.7);
}

.line-through{
  text-decoration: line-through;
}
input:focus{
  outline:none
}
